<div></div>
<p style="font-size: 10pt;">
	<a href="/<%= @snippet.snippet_id %>" class="readmore"><img src="/link.png"/> <%= @snippet.snippet_id %> - <%= @snippet.title %>  </a>
	<br />
	Posted by <a href="/user/<%= @snippet.user_nickname.to_s %>"><%= @snippet.user_nickname.to_s %></a> on <%= @snippet.insert_date %>.
	Language <a href="/lang/<%= @snippet.lang %>"><%= @snippet.lang %></a><br />
	<pre class="brush: <%= @snippet.lang.to_s %>;">
<%= h @snippet.code.to_s %>
	</pre>
	<br />
</p>
